<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='converter.css') }}"/>
</head>
<body style="background-color:rgb(37, 40, 43); color:honeydew">
<center>
    <h1>Python Number Base Converter</h1>
    <form method="post" action="{{ url_for('operation_result') }}" id="converter_form">
            <span>Input</span>
            <input type="text" name="Input1" id="Input1">
        <br/>
        <select id="operation" name="operation">
            <option value="" selected disabled hidden>Select Conversion</option>
            <option value="0b -> 0d">Binary -> Decimal</option> 
            <option value="0x -> 0d">Hexidecimal -> Decimal</option>
            <option value="0d -> 0b">Decimal -> Binary</option>
            <option value="0d -> 0x">Decimal -> Hexidecimal</option>
        </select>
        <br/>
        <input type="submit" value="Submit"/>
        <input type="reset"  value="RESET" style="color: red;"/>
    </form>
    {% if calculation_success == True %}
        <br/>
        <p>The calculation for {{input1}} [{{operation}}] {{input2}} is {{result}}</p>
    {% endif %}
    {% if calculation_success == False %}
        <br/>
        <p>{{error}}</p>
        <p>{{input1}} {{operation}} {{input2}} = "{{result}}"</p>
    {% endif %}
    <br/>
    <h4>Note: Do not use prefixes such as '0x' or '0b' when entering input</h4>
</center>
</body>
</html>